html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #2a2a2e;
    color: ivory;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1em;
}

.caster-app {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main";
}

figure {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    grid-area: header;
    padding-bottom: 0.2em;
    border-bottom: 1px solid ivory;
}

header .icon {
    width: 2em;
    height: 1em;
}

header h1 {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 400;
}

header form {
    background-color: #3a3a3e;
    border-radius: 0.5em;
    /* border: 1px solid white; */
}

header form input {
    background-color: #3a3a3e;
    height: 2.5em;
    border: none;
    color: ivory;
    padding: 0.25em 1em;
    border-radius: 1em;
}

header form input[type="submit"] {
    background-color: #3a3a3e;
    border-radius: 1em;
}

main {
    grid-area: main;
}

podcast-feed {
    display: grid;
    gap: 1em;
}

@media (min-width: 650px) { 
    podcast-feed {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1000px) { 
    podcast-feed {
        grid-template-columns: repeat(6, 1fr);
    }
}