html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

figure {
    margin: 0;
}

.podcast {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.podcast picture {
    flex: 1 0 auto;
}

.podcast details {
    /* flex: 0 0 auto; */
}

.podcast picture img {
    background: border-box khaki;
    width: 100%;
    font-size: 2em;
    
    /* font-size: 2em; */
}


.episode {
    
}

@media (min-width: 650px) { 
    .wrapper {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

@media (min-width: 1000px) { 
    .wrapper {
        grid-template-columns: repeat(6, 1fr);
    }
}